body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 210, 210);
  font-family: "Andale Mono", sans-serif;
}

#bj-board {
  overflow: hidden;
  width: 1000px;
  height: 700px;
  background: url("../img/fondo-juego.jpeg") no-repeat;
  background-size: cover;
  /*filter: blur(2px);*/
  position: relative;
}
