* {
  margin:0;
  font-family: "Andale Mono", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Andale Mono", sans-serif;
  font-weight: lighter;
  background-color: white;
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
  flex-direction: column;
}

#bj-board {
  overflow: hidden;
  width: 1000px;
  height: 700px;
  background-image: url("../img/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 20px 20px 10px black;
  padding: 50px 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  border-radius: 20px;
}

#creators-credits {
  height: auto;
  width: auto;
  color: white;
  font-size: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  font-family: "Andale Mono", sans-serif;
  top: 760px;
  left: 800px;
}

#welcome-message-intro {
  color: white;
  font-size: 40px;
  position: relative;
  margin: 70px 0;
  width: 100%;
  text-align: center;
}

#quote-intro {
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 15px;
}

#bj-board .button-intro {
  background: green;
  cursor: pointer;
  margin-top: 30px;
  width: 320px;
  padding: 10px;
  color: white;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  font-family: "Andale Mono", sans-serif;
}

#bj-board .button-intro:hover {
  background-color: lightgreen;
  transition: 0.7s;
}

#instructions-title {
  color: white;
  font-size: 30px;
  margin: 50px 0;
}

.instructions-text {
  color: white;
  font-size: 20px;
  width: 900px;
  text-align: justify;
  margin-top: 20px;
}

#instructions-return-button {
  background: green;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  font-family: "Andale Mono", sans-serif;
}

#bj-board #instructions-return-button:hover {
  background-color: green;
  transition: 0.7s;
}


#dealer-welcome-message {
  color: white;
}

#player-controls {
  position: absolute;
  /* bottom: 48px; */
  /* width: 25%; */
  height: 400px;
  left: 45px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  gap: 13px;
}

.playerButton {
  height: 100%;
  font-size: 30px;
  color: white;
  background: #0089a5;
  border-radius: 10px;

}

/*#betInput {*/
/*  height: 100px;*/
/*  width: 300px;*/
/*  font-size: 50px;*/
/*  position: absolute;*/
/*  left: 70%;*/
/*  top: 70%;*/
/*  color: gold;*/
/*  background: none;*/
/*  text-align: center;*/
/*}*/

/*::placeholder {*/
/*  color: gold;*/
/*}*/

#exitButton {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  height: 60px;
  width: 130px;
  top: 45px;
  left: 45px;
  font-size: 30px;
  /* color: white; */
  /* background-color: red; */
  border-radius: 15px;
}
#exitArrow{
  height:35px;
  width:35px;
}

#player-cash {
  height: 100px;
  width: auto;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 55px;
  right: 90px;
}

#current-bet {
  position: absolute;
  height: 100px;
  width: auto;
  color: white;
  font-size: 20px;
  top: 95px;
  right: 90px;
}

#current-count {
  position: absolute;
  height: 100px;
  width: auto;
  color: white;
  font-size: 20px;
  top: 135px;
  right: 90px;
}

#result-message {
  position: absolute;
  height: 100px;
  width: auto;
  color: red;
  font-size: 20px;
  top: 175px;
  right: 90px;
}

.card {
  width: 220px;
  height: 320px;
  border: 1px solid #000;
  background-color: white;
  border-radius: 10px;
  position: absolute;
}

.placeholder {
  width:100%;
  height:100%;
  position: relative;
}

.suit {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.suit-small {
  height: 30px;
  width: 30px;
  top: 10%;
  left: 10%;
}

.rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  text-align: center;
  height: auto;
  width: auto;
  font-size: 35px;
  left: 15px;
  top: 15px;
}

.bottom-right {
  bottom: 15px;
  right: 15px;
  transform: rotate(180deg);
  top: auto;
  left: auto;
}

#chips-stack{
  display: flex;
  /* flex-direction: column; */
  position: absolute;
  bottom: 63px;
  /* right: 80px; */
  width: 550px;
  justify-content: space-around;
  border: none;
}


.chip {
  border-radius: 50px;
  height: 80px;
  width: 80px;
  box-shadow: 10px 10px 5px black;
}

.safe-message {
  position: absolute;
  width: 500px;
  color: white;
  font-size: 30px;
  text-align: center;
  border: 2px dashed white;
  padding: 20px;
}