body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Andale Mono", sans-serif;
  font-weight: lighter;
  background-color: white;
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
  flex-direction: column;
}

#bj-board {
  overflow: hidden;
  width: 1000px;
  height: 700px;
  background-image: url("../img/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 20px 20px 10px black;
  padding: 50px 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  border-radius: 20px;
}

#creators-credits {
  height: auto;
  width: auto;
  color: white;
  font-size: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  font-family: "Andale Mono", sans-serif;
  top: 760px;
  left: 800px;
}

#welcome-message-intro {
  color: white;
  font-size: 40px;
  position: relative;
  margin: 100px 0;
  width: 100%;
  text-align: center;
}

#quote-intro {
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 15px;
}

#bj-board .button-intro {
  background: green;
  cursor: pointer;
  margin-top: 30px;
  width: 320px;
  padding: 10px;
  color: white;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  font-family: "Andale Mono", sans-serif;
}

#bj-board .button-intro:hover {
  background-color: lightgreen;
  transition: 0.7s;
}

#instructions-title {
  color: white;
  font-size: 30px;
  margin-top: 200px;
}

#instructions-text {
  color: white;
  font-size: 20px;
  text-align: justify;
}

#instructions-return-button {
  background: darkgreen;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  font-family: "Andale Mono", sans-serif;
}

#bj-board #instructions-return-button:hover {
  background-color: green;
  transition: 0.7s;
}


#dealer-welcome-message {
  color: white;
}

#player-controls {
  position: absolute;
  bottom: 10px;
  width: 80%;
  height: 60px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  row-gap: normal;
}

.playerButton {
  height: 100%;
  width: 100%;
  font-size: 30px;
  color: white;
  background: darkolivegreen;
  border-radius: 10px;
  margin: 0 10px;
}

/*#betInput {*/
/*  height: 100px;*/
/*  width: 300px;*/
/*  font-size: 50px;*/
/*  position: absolute;*/
/*  left: 70%;*/
/*  top: 70%;*/
/*  color: gold;*/
/*  background: none;*/
/*  text-align: center;*/
/*}*/

/*::placeholder {*/
/*  color: gold;*/
/*}*/

#exitButton {
  position: absolute;
  height: 60px;
  width: 200px;
  top: 4px;
  left: 83%;
  font-size: 30px;
  color: white;
  background-color: red;
  border-radius: 15px;
}

/*#player-cash {*/
/*  height: 100px;*/
/*  width: 100px;*/
/*  color: white;*/
/*  font-size: 30px;*/
/*}*/

.card {
  width: 220px;
  height: 320px;
  border: 1px solid #000;
  background-color: white;
  border-radius: 10px;
  position: absolute;
}

.placeholder {
  width:100%;
  height:100%;
  position: relative;
}

.suit {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.suit-small {
  height: 30px;
  width: 30px;
  top: 10%;
  left: 10%;
}

.rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  text-align: center;
  height: auto;
  width: auto;
  font-size: 35px;
  left: 15px;
  top: 15px;
}

.bottom-right {
  bottom: 15px;
  right: 15px;
  transform: rotate(180deg);
  top: auto;
  left: auto;
}

#chips-stack {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 700px;
  justify-content: space-around;
  top: 600px;
  right: 30px;
}

.chips {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  box-shadow: 10px 10px 5px black;
  font-size: 40px;
}


